Thumbs.db
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.rar
*.lib
*.bmp
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.ico
*.tlog
*.sdf
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/bk
/common/zlib
[Rr]elease/Dll
[Rr]elease/Exe

.localhistory/
Unicode/
exe/
*.pdf
Key.snk
/packages
*.vsix
*.TaskCanvasSL
*.vsps
*.vspx
*.psess